<!DOCTYPE html>
<html>

<head>
  <title>
    Insertar Movimientos
  </title>
  <link href="/css/styles.css" rel="stylesheet">
  <script src="/js/insertMovsClient.js" defer></script>
</head>

<body>
  <div class="w-screen">
    <div class="flex justify-between ">
      <button type=button id="btnAtras" class="h-16 bg-blue-700 hover:bg-blue-800 px-5 py-2.5 mt-4 ml-4 text-[#ffffff] text-lg text-center font-bold rounded-lg w-32">Atras</button>
      <header id="datos" class="mr-16 mt-8 text-lg rounded-lg"></header>
    </div>
    <div class="flex justify-center">
      <input id="inpInfo" placeholder="monto" autocomplete="off" class="h-16 ml-4 mt-4 px-3 py-2.5 text-lg font-bold rounded-lg border focus:outline focus:outline-2 focus:outline-offset-2 bg-[#ffffff] text-[#444444] focus:outline-[#aaaaaa] border-[#cccccc]">
      <div>
        <button id="dropdownCheckboxButton" data-dropdown-toggle="dropdownDefaultCheckbox"class="h-16 text-white bg-blue-700 hover:bg-blue-800 text-lg font-bold rounded-lg px-5 py-2.5 text-center inline-flex items-center mt-4 mb-4 ml-4 mr-4 w-48" type="button">Movimientos<svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
          </svg>
        </button>

        <!-- Dropdown menu -->
        <div id="dropdownDefaultCheckbox" class="z-10 hidden w-48 bg-white divide-y divide-gray-100 rounded-lg shadow-sm dark:bg-gray-700 dark:divide-gray-600 ml-4">
          <ul class="p-3 space-y-3 text-sm text-gray-700" aria-labelledby="dropdownCheckboxButton">
            <li>
              <div class="flex items-center">
                <input id="checkboxCumplirMes" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                <label for="checkbox-item-1" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Cumplir mes</label>
              </div>
            </li>
            <li>
              <div class="flex items-center">
                <input id="checkboxBono" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                <label for="checkbox-item-1" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Bono vacacional</label>
              </div>
            </li>
            <li>
              <div class="flex items-center">
                <input id="checkboxReversionDebito" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                <label for="checkbox-item-3" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Reversion Debito</label>
              </div>
            </li>
            <li>
              <div class="flex items-center">
                <input id="checkboxDisfrute" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                <label for="checkbox-item-3" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Disfrute de vacaciones</label>
              </div>
            </li>
            <li>
              <div class="flex items-center">
                <input id="checkboxVenta" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                <label for="checkbox-item-3" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Venta de vacaciones</label>
              </div>
            </li>
            <li>
              <div class="flex items-center">
                <input id="checkboxReversionCredito" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                <label for="checkbox-item-3" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Reversion de Credito</label>
              </div>
            </li>
          </ul>
        </div>

      </div>
      <button type=button id="btnInsertar" class="h-16 bg-blue-700 hover:bg-blue-800 px-5 py-2.5 text-center inline-flex items-center mt-4 text-[#ffffff] justify-center  text-lg font-bold rounded-lg w-32">Insertar</button>
    </div>
  </div>
</body>

</html>