<!DOCTYPE html>
<html>
    <head>
        <title>
            Segunda Tarea de Bases de Datos
        </title>
        <link href="/css/output.css" rel="stylesheet">
        <script src="/js/loginClient.js" defer></script>
    </head>
    <body>|
        <div class="flex flex-col w-full md:w-1/2 xl:w-2/5 2xl:w-2/5 3xl:w-1/3 mx-auto p-8 md:p-10 2xl:p-12 3xl:p-14 bg-[#ffffff] rounded-2xl shadow-xl">
            <div class="flex flex-row gap-3 pb-4">
                 <h1 class="text-3xl font-bold text-[#4B5563] text-[#4B5563] my-auto">Login</h1>
            </div>
            <form class="flex flex-col">
                <div class="pb-2">
                    <label for="username" class="block mb-2 text-sm font-medium text-[#111827]">Username</label>
                    <div class="relative text-gray-400"><span class="absolute inset-y-0 left-0 flex items-center p-1 pl-3"></span> 
                        <input type="text" name="username" id="username" class="pl-12 mb-2 bg-gray-50 text-gray-600 border focus:border-transparent border-gray-300 sm:text-sm rounded-lg ring-3 ring-transparent focus:ring-1 focus:outline-hidden focus:ring-gray-400 block w-full p-2.5 rounded-l-lg py-3 px-4" placeholder="username" autocomplete="off">
                    </div>
                </div>
                <div class="pb-6">
                    <label for="password" class="block mb-2 text-sm font-medium text-[#111827]">Password</label>
                    <div class="relative text-gray-400"><span class="absolute inset-y-0 left-0 flex items-center p-1 pl-3"></span> 
                        <input type="password" name="password" id="password" placeholder="••••••••••" class="pl-12 mb-2 bg-gray-50 text-gray-600 border focus:border-transparent border-gray-300 sm:text-sm rounded-lg ring-3 ring-transparent focus:ring-1 focus:outline-hidden focus:ring-gray-400 block w-full p-2.5 rounded-l-lg py-3 px-4" autocomplete="new-password">
                    </div>
                </div>
                <button type="button" id ="btnLogin" class="w-full text-[#FFFFFF] bg-[#4a42f0] focus:ring-4 focus:outline-hidden focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-6">Login</button>
                </div>
            </form>
        </div>
    </body>
</html>