<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movimientos</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/movimientosClient.js" defer></script>
</head>
<div class="flex justify-between">
    <button type="button" id="btnAtras" class="font-bold rounded-lg text-base ml-4 mt-4 mb-4 w-24 h-16 bg-gray-600 text-[#ffffff] hover:bg-gray-700 ">Volver</button>
    <header id="datos" class = "mr-16 mt-12 rounded-lg text-base" ></header>
</div>

<div id = 'contenedor-tabla' class = "ml-4 mr-4 mu-5"></div>
<div class="flex justify-center">
    <button type="button" id = "btnInsertar" class="font-bold rounded-lg text-base ml-4 mt-4 mb-4 mr-4 w-32 h-16 bg-gray-600 text-[#ffffff] hover:bg-gray-700">Insertar Movimiento</button>
</div>
</html>