<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movimientos</title>
    <link rel="stylesheet" href="/css/output2.css">
    <script src="/js/movimientosClient.js" defer></script>
</head>
<div class = "w-full">
    <button type="button" id="btnAtras" class="font-bold rounded-lg text-base ml-4 mt-4 mb-4 w-64 h-16 bg-[#374151] text-[#ffffff] hover:underline">Listar Empleados</button>
</div> 
<div>
    <header id="datos" class = "ml-4 text-center" ></header>
</div>
<div id = 'contenedor-tabla' class = "ml-4 mr-4"></div>
<div class = "w-full">
    <button type="button" id = "btnInsertar" class="justify-center font-bold rounded-lg text-base ml-4 mt-4 mb-4 w-64 h-16 bg-[#374151] text-[#ffffff] hover:underline">Insertar Movimiento</button>
</div>
</html>